<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jz-move1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3.5,1.5}</string>
                <key>spriteSize</key>
                <string>{57,75}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{70,1},{57,75}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>0 1 2 0 2 3</string>
                <key>vertices</key>
                <string>75 23 75 86 18 72 46 11</string>
                <key>verticesUV</key>
                <string>127 13 127 76 70 62 98 1</string>
            </dict>
            <key>jz-move2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,5.5}</string>
                <key>spriteSize</key>
                <string>{68,67}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{57,157},{68,67}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 1 3 4 0 1 4</string>
                <key>vertices</key>
                <string>66 13 83 46 72 78 15 60 48 11</string>
                <key>verticesUV</key>
                <string>108 159 125 192 114 224 57 206 90 157</string>
            </dict>
            <key>jz-move3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1.5,3}</string>
                <key>spriteSize</key>
                <string>{67,78}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{1,1},{67,78}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>0 2 3 0 1 2</string>
                <key>vertices</key>
                <string>82 38 58 86 15 69 61 8</string>
                <key>verticesUV</key>
                <string>68 31 44 79 1 62 47 1</string>
            </dict>
            <key>jz-move4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{22,-6.5}</string>
                <key>spriteSize</key>
                <string>{54,87}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{1,81},{54,87}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>0 2 3 0 1 2</string>
                <key>vertices</key>
                <string>99 40 45 100 45 53 67 13</string>
                <key>verticesUV</key>
                <string>55 108 1 168 1 121 23 81</string>
            </dict>
            <key>jz-move5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,3.5}</string>
                <key>spriteSize</key>
                <string>{74,69}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{57,81},{74,69}}</string>
                <key>textureRotated</key>
                <true/>
                <key>triangles</key>
                <string>1 3 4 1 2 3 0 1 4</string>
                <key>vertices</key>
                <string>96 33 48 81 22 77 25 37 50 12</string>
                <key>verticesUV</key>
                <string>105 155 57 107 61 81 101 84 126 109</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>jz-move.png</string>
            <key>size</key>
            <string>{128,225}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:359946f44a8e4e7d479c5faf7cf7d455:ead12c152238011e979d0a88e9108636:2852b5642f71cd16bed2b5a81f26494e$</string>
            <key>textureFileName</key>
            <string>jz-move.png</string>
        </dict>
    </dict>
</plist>
